body{
    
    height: 100%;
    width: 100%;
    background-image: url('../img/436806.jpg');
    background-attachment: fixed;
    background-position: center;

    background-size: cover;
    overflow: auto;
    margin: 0;
}

.main-wel{
    height: 60%;
    width: 50%;
    margin: 8% 25% 0% 25%;
    border-radius: 25px;
    background: rgb(216, 194, 194 ,.7);
}

.welcoming{
    color: rgb(2, 7, 19);
    font-size: 2em;
    margin-left: 20px;
    margin-top: -20px;
    padding-bottom: 30px;
} 
a{
    text-decoration: none;
}

.mult{
    font-size: 2.5em;
    margin-left: 15px;
    margin-top: 10px;
}

.logo{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 2.7em;
    margin: 0;
    padding-left: 40%;
}
.s{
    color: red;
}

.start{
    color: black;
    
    font-weight: bold;
    border-radius: 1em;
    padding: 0.6em 5em;
    font-size: 1.5em;
    background: #2196f3;
    cursor: pointer;
}
  




.inst{
    color: black;
    
    font-weight: bold;
    border-radius: 5em;
    margin-top: -1em;
    margin-right: 5px;
    padding: 0.6em 4em;
    font-size: 1.4em;
    background: #2196f3;
    cursor: pointer;
}

.inst1{
    margin-left: 0%;
    
}
.sstart{
    margin-left: 0%;

}
.con{
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 20%;
    padding: 5%;
    margin-left: -3%;
}

@media screen and (max-width:1024px){
    .inst{
        margin-right: 5px;
        padding: 0.4em 2.4em;
        font-size: 1.4em;
        background: #2196f3;
        cursor: pointer;
    }

    
}

@media screen and (max-width:768px){

    .main-wel{
        height: 58vh;
        width: 60%;
        margin: 8% 20% 0% 20%;
        border-radius: 25px;
        background: rgb(216, 194, 194 ,.7);
    }
    
    .welcoming{
        font-size: 1.5em;
        margin-left: 10px;
        margin-top: -25px;
        padding-bottom: 10px;
    } 

    .mult{
        font-size: 2em;
        margin-left: 7px;
        margin-top: 6px;
    }

    .logo{
        font-size: 2.1em;
        margin: 0;
        padding-left: 30%;
    }

    .inst{
        border-radius: 5em;
        margin-top: -1em;
        margin-right: 5px;
        padding: 0.18em 1.3em;
        font-size: 1.4em;
    }

    .inst1{
        margin-left: 0%;
        
    }
    .sstart{
        margin-left: 0%;

    }
    .con{
        justify-content: space-around;
        display: flex;
        width: 100%;
        height: 20%;
        padding: 5%;
        margin-left: -3%;
        margin-top: -15px;
    }

}