{% extends 'main.html' %}


{% block main %}


    <div class="con-imo">
        <section class="imo" id="imon">
            
            <form action="" method="POST" class="form" >
                {% csrf_token %}
                    
                {{form}}
                <label for="id_name" class="label-name"><span class="con-name" >Creat List</span></label>
                <button for='imon' class='submit' type="submit"> submit </button>

                
            </form>
            
                {% for li in user.newlist.all %}
                    <div class="adding">
                        <div class="hover">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <h1 class="namey">{{li.name}}</h1>
                            <a class="add" href="{% url 'create' li.id %}">view</a>
                            <a class="delete" href="{% url 'delete' li.id %}">delete</a>
                            <a class="share" href="{% url 'share'  li.id  %}"> share </a>

                        </div>
                    </div>
                {% endfor %}


                
                
        </section>
    </div>



{% endblock %}