{% extends 'main.html' %}



{% block main %}

<div class='div-ins'>
    <section id='instructions' class="instr" >
        <ul class="newul">
            <h1 class="steps">steps</h1>
            <li>tap on the create list and name the list you want to create </li>
            <li>open the list you just creat and add the links you want </li>
            <li>the links must start with http:// or https:// </li>
            <li>back to the home page and go to the share page </li>
            <li>take a copy of the share page to share </li>
        </ul>
    </section>
</div>
{% endblock %}